body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  background: #f2f2f7;
}

/* APP */
.app {
  max-width: 420px;
  margin: auto;
  padding: 20px;
  padding-bottom: 90px;
}

/* TEXT */
h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

/* SCREENS */
.screen {
  display: none;
}

.screen.active {
  display: block;
}

/* CARD */
.card {
  background: white;
  border-radius: 18px;
  padding: 16px;
  margin-bottom: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.05);
}

/* PHOTOS */
.photos {
  display: flex;
  gap: 10px;
}

.photo {
  flex: 1;
  height: 120px;
  background: #ddd;
  border-radius: 12px;
}

/* INPUT */
input, select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
}

/* BUTTON */
.btn {
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: black;
  color: white;
  font-size: 16px;
}

/* NAV */
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
}

.nav button {
  background: none;
  border: none;
  font-size: 16px;
}
